@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200&family=Titillium+Web:wght@400;700&display=swap");

:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  background-color: var(--black);
}

header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo span {
  color: white;
}

header .logo i {
  color: var(--green);
}

.sub-heading {
  text-align: center;
  color: var(--green);
  font-size: 2rem;
  padding-top: 1rem;
}
.heading {
  text-align: center;
  color: var(--black);
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  font-weight: bold;
}

/* *carosel */

.carousel-img {
  position: relative;
  text-align: center;
}

.carousel-img img {
  display: block;
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
}

.carousel-img h2 {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background: var(--black);
  padding: 5px 0;
  font-size: 5rem;
  color: white;
}

.owl-nav {
  text-align: center;
}

.owl-nav span {
  font-size: 10rem;
  margin-right: 10rem;
  margin-left: 10rem;
  color: var(--black);
  max-height: 1rem;
}
.owl-dots {
  text-align: center;
  margin-top: 1rem;
}

.owl-dot {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: var(--black) !important;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  color: #000000;
}

.owl-dot.active {
  background-color: var(--green) !important; /* Aktif nokta rengi */
}

.container {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.container .row .card {
  text-align: center;
}

.dishes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 4rem;
  margin-bottom: 3rem;
}

.dishes .box-container .box {
  padding: 2.5rem;
  background: white;
  border-radius: 0.5rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.dishes .box-container .box img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
  max-height: 35rem;
}

.dishes .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding-left: 1rem;
}
.dishes .box-container .box .fiyat {
  color: var(--green);
  font-weight: bold;
}

.dishes .box-container .box .text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.icons {
  font-size: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  color: var(--green);
}

.dishes .box-container .box p {
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 1.8rem;
  font-style: italic;
  padding-left: 1rem;
}
.dishes .box-container .box span {
  color: var(--green);
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2rem;
}

.footer {
  background-color: var(--black);
  color: white;
}

.footer-header {
  text-align: center;
  font-size: 2rem;
}
.logo i {
  color: var(--green);
}
.footer-section.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content {
  justify-content: space-between;
  margin-left: 5%;
}
.contact,
.social {
  flex: 1;
}
.social {
  color: white;
  display: block;
  padding-bottom: 15px;
}
.contact {
  font-size: 1.5rem;
  display: block;
}
.contact p {
  padding: 1rem;
}

.social a {
  display: block;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem;
}
.contact-header {
  text-align: left;
  padding-left: 1rem;
}
.socaial-header {
  text-align: left;
  padding-left: 1rem;
}

.footer-links {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 10%;
}
.footer-links h2 {
  padding-left: 2rem;
}
.footer-links ul {
  list-style: none;
  font-size: 1.5rem;
  color: white;
}
.footer-links ul li {
  padding-bottom: 1.2rem;
}

.footer-links ul li a {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
}
/* *-- MEDİA QUERİES */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }
}
.nav-wrapper {
  width: auto;
  font-size: 1.8rem;
  text-align: center;
  color: white;
  text-align: center;
  padding-top: 10px;
}
.sl-nav {
  display: inline;
}
.sl-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}
.sl-nav li {
  cursor: pointer;
  padding-bottom: 10px;
}
.sl-nav li ul {
  display: none;
}
.sl-nav li:hover ul {
  position: absolute;
  top: 29px;
  right: -15px;
  display: block;
  background: #fff;
  width: 120px;
  padding-top: 0px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sl-nav li:hover .triangle {
  position: absolute;
  top: 15px;
  right: -10px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;
}
.sl-nav li:hover .triangle:after {
  content: "";
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sl-nav li ul li {
  position: relative;
  text-align: left;
  background: transparent;
  padding: 15px 15px;
  padding-bottom: 0;
  z-index: 2;
  font-size: 15px;
  color: #3c3c3c;
}
.sl-nav li ul li:last-of-type {
  padding-bottom: 15px;
}
.sl-nav li ul li span {
  padding-left: 5px;
}
.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
  color: #146c78;
}
.sl-flag {
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  width: 15px;
  height: 15px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  top: 2px;
  overflow: hidden;
}
.flag-de {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAAPUlEQVQ4T+3HMQ0AIBTE0NOHM8x9B7hgh71bIWGieUvze1m7kHGBr/AVvsJX+EpmP5dV5/gKX+ErfIUvVDYcX2NMxQC8PAAAAABJRU5ErkJggg==");
  background-size: cover;
  background-position: center center;
}
.flag-usa {
  background-size: cover;
  background-position: center center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=");
}

@media (max-width: 768px) {
  header .logo {
    padding-left: 2rem;
    font-size: 2rem;
  }
  header {
    padding: 0;
    margin: 0;
  }
  .nav-wrapper {
    font-size: 1.7rem;
    margin-right: 4rem;
  }
  .owl-carousel {
    max-width: auto !important;
    width: 100% !important;
  }
  .owl-nav {
    display: flex;
  }
  .owl-nav span {
    font-size: 5rem;
  }
  .owl-dot {
    width: 1.8rem;
    height: 1.8rem;
  }
  .dishes .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    gap: 3rem;
    text-align: center;
  }
  .dishes .box-container .box {
    margin: 0 auto;
    display: inline-block;
    width: 90%;
    max-width: 400px;
  }

  .footer {
    background-color: var(--black);
    color: white;
  }

  .footer-header {
    text-align: center;
    font-size: 1.5rem;
  }
  .logo i {
    color: var(--green);
  }
  .footer-section.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-content {
    justify-content: space-between;
    margin-left: 15%;
  }
  .contact,
  .social {
    flex: 1;
  }
  .social {
    color: white;
    display: block;
  }
  .contact {
    font-size: 1.2rem;
    display: block;
  }
  .contact p {
    padding: 0rem;
  }

  .social a {
    display: block;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    padding-bottom: 0.5rem;
  }
  .footer-links ul li a {
    list-style: none;
    font-size: 1.4rem;
    color: white;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
}
